:root{
    --background: #FFFFFF;
    --accent: #A18A68;
    --text: #202020;
    --text-second: #707070;
    --errors: #D82700;

    --gray: #D8D8D8;
    --gray-two: #EFEFEF;
}

.black-theme{
    --background: #0A0A0A;
    --accent: #B4A186;
    --text: #FBFBFB;
    --text-second: #9A9A9A;

    --gray: #3D3D3D;
    --gray-two: #272727;
}

